<div class='grid_15' id='header-bar'>
<div class='grid_11 alpha'>
<ul id='navigation'>
<li>a</li>
</ul>
</div>
<div class='grid_4 omega'>
selam <span style=''><%=current_user.name%></span>, biz dostuz.
<br>Toplam alacağın
<span class='debit'>100 TL</span>
</div>

</div>
