<div class="grid_15 alpha" id="hero">

    <p> “borcum borç”,
     “bende paran kalmaz”
diyorlar, sen de inanıyorsun. borçlarını aklında tutamıyorsun.  arkadaşların borçlarına sadık değil.
    borç mevzusunu arkadaşlarına açamıyorsun bile.
    öyle değil mi ?
    </p>
  </div>

  <div class="grid_9 alpha landing">
       O zaman doğru adrestesin. Borçlarını takip et, ödemeyenleri kınım kınım <strong>kına</strong>  !
  </div>


   <% if current_user %>
    <div class="grid_5" id="hello">
        <h1> Selam <span style='color:black'><%= current_user.name %></span>, <br />
        Biz dostuz ! </h1>
         Şimdi hemen borçu arkadaşlarını ve borçlarını <a href="<%=friends_path%>">şuradan</a> tanımla.  </div>
    <% else %>
        <div class="grid_4" id="connect">
          <a class="no_ajax" href="/auth/twitter"><img src="/static/connect-with-twitter.png" alt=""></a>
          <a class="no_ajax" href="/auth/facebook"><img src="/static/connect-with-facebook.png" alt=""></a>
           </div>
    <% end %>

