<div class="grid_15" id="hero">
    <p>“borcum borç”</p>
     <p>“bende paran kalmaz”</p>

    <p>diyorlar, sen de inanıyorsun. borçlarını aklına tutamıyorsun.  arkadaşların borçlarına sadık değil.
    borç mevzusunu arkadaşlarına açamıyorsun bile.
    öyle değil mi ?
    </p>
  </div>

  <div class="grid_10">
    <img src="/static/landing-image.png" alt="">
  </div>
  <div class="grid_4" id="connect">
    <a href="/auth/twitter"><img src="/static/connect-with-twitter.png" alt=""></a>

  </div>
    <!--
<% if current_user %>
  Welcome <%= current_user.name %>!
  <%= link_to "Sign Out", signout_path %>
<% else %>
  <%= link_to "Sign in with Twitter", "/auth/twitter" %>
<% end %>-->